<app-form-layout title="Formulário do Secretário">
  <form>
    <div class="mb-4">
      <label for="matricula" class="block text-gray-300 font-bold mb-2">Matricula:</label>
      <input type="text" id="matricula" name="matricula" class="form-input w-full" placeholder="xxxx">
    </div>
    <div class="mb-4">
      <label for="materia1" class="block text-gray-300 font-bold mb-2">Materia 1:</label>
      <input type="text" id="materia1" name="materia1" class="form-input w-full" placeholder="Lingua Portuguesa">
    </div>
    <div class="mb-4">
      <label for="materia2" class="block text-gray-300 font-bold mb-2">Materia 2:</label>
      <input type="text" id="materia2" name="materia2" class="form-input w-full" placeholder="Física">
    </div>
    <div class="mb-4">
      <label for="materia3" class="block text-gray-300 font-bold mb-2">Materia 3:</label>
      <input type="text" id="materia3" name="materia3" class="form-input w-full" placeholder="Geografia">
    </div>
    <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
      Cadastrar
    </button>
  </form>
</app-form-layout>
